
@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
    format("truetype");
}

@font-face {
    font-family: UbuntuMono;
    src: url(/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
    format("truetype");
}

html {
    
}

body {
    background-color: #FF89D4;
    background-image: url(/images/bg-tissue.png);
    background-position: 0px 0px;
    font-size: 16px;
    font-family: Ubuntu, Arial, sans-serif;
}

.jumbotron.head {
    /*-webkit-box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);
    -moz-box-shadow: -4px 3px 8px -4px rgba(0,0,0,090);
    box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);*/
    padding-bottom: 0em;
    margin-bottom: 0.6em;
    background-color: #B0518D;
    text-align: center;
}

.jumbotron.head h1 {
    margin: -2em 0em 0em 0em;
    color: #ffffff;
    font-weight: bold;
    font-size: 4em;
}

.jumbotron.head img {
    margin: -3em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    width: 100%;
}

.jumbotron.foot {
    /*-webkit-box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);
    -moz-box-shadow: -4px 3px 8px -4px rgba(0,0,0,090);
    box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);*/
    padding: 0em;
    margin: -3.4em 0em 0em 0em;
    background-color: #B0518D;
    text-align: center;
    height: 6em;
}

.jumbotron.topbar {
    /*-webkit-box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);
    -moz-box-shadow: -4px 3px 8px -4px rgba(0,0,0,090);
    box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);*/
    padding-bottom: 0em;
    margin-top: -2.4em;
    margin-top: 0em;
    margin-bottom: 0em;
    background-color: #B0518D;
    text-align: center;
    border-bottom: 1px solid #B0518D;
}

.jumbotron.topbar .container-fluid {
    color: #ffffff;
    background-color: #B0518D;
    width: 64%;
}

.jumbotron.topbar .navbar-toggle {
    background-color: #FF89D4;
}

.jumbotron.topbar .navbar-toggle .icon-bar {
    border-bottom: 2px solid #ffffff;
}

.topbar li a {
    color: #ffffff;
    background-color: #B0518D;
    font-weight: bold;
}

.topbar li a:hover {
    color: #ffffff; 
    background-color: #FF89D4;    
}


.container {
    background-color: #ffffff;
}

.container.document {
    background-color: #ffffff;
    margin-top: 0em;
    width: 64%;
    border-left: 1px solid #B0518D;
    border-right: 1px solid #B0518D;
    border-bottom: 1px solid #B0518D;    
}

pre {
    border-radius: 0px;
}

img.img-full {
    width: 100%;
    padding: 0em;
    margin: 0em;
}

p {
    padding: 0em 1.4em 0.4em 1.4em;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #222222;
}

p.img-full,
p.img-full-top {
    margin: 0em;
    padding: 0em;
}

p.img-full img,
p.img-full-top img {
    width: 100%;
    margin: 0em;
    padding: 0em;
}

p.img-full-top img {
    margin-top: -2em;
}

.heading-0 {
    background-color: #B0518D;
    margin: 0em 0em 1.4em 0em;
    text-align: center;
    font-size: 3em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}


.heading-1 {
    background-color: #B0518D;
    margin: 1.4em 0em 1.4em 0em;
    text-align: center;
    font-size: 3em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}

.heading-1-1 {
    background-color: #B0518D;
    margin: 0em 0em -1.4em 0em;
    text-align: center;
    font-size: 3em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}

.heading-2 {
    background-color: #B0518D;
    /*margin: 1.4em 0em 1.4em 0em;*/
    margin: 0em 0em 0.8em 0em;
    text-align: center;
    font-size: 2.5em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}

.heading-2-top {
    background-color: #B0518D;
    /*margin: 1.4em 0em 1.4em 0em;*/
    margin: -3em 0em 0.8em 0em;
    text-align: center;
    font-size: 2.5em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}

.heading-3 {
    background-color: #B0518D;
    /*margin: 1.4em 0em 1.4em 0em;*/
    margin: 0em 0em 0.8em 0em;
    text-align: center;
    font-size: 2em;
    padding: 1em 1.4em 1em 1em;
    font-weight: bold;
    color: #ffffff;
    font-style: italic;
}

.heading-3-top {
    background-color: #B0518D;
    /*margin: 1.4em 0em 1.4em 0em;*/
    margin: 0em 0em 0.8em 0em;
    text-align: center;
    font-size: 2em;
    padding: 1em 1.4em 1em 1em;
    margin-top: -1em;
    font-weight: bold;
    color: #ffffff;
    font-style: italic;
}

.heading-last {
    background-color: #B0518D;
    margin: 0em 0em 0.8em 0em;
    text-align: center;
    font-size: 2.5em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}

.heading-last:after {
    content: "";
    padding-bottom: 2em;
}

.metadatas {
    margin-top: 1.6em;
    font-size: 0.8em;
}


@media only screen and (min-width: 768px) and (max-width: 991px){

    .container.document {
        width: 84%;
    }
    .jumbotron.topbar .container-fluid {
        width: 84%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px){
    
    body {
        font-size: 16px;
    }
    .jumbotron.head h1 {
        margin: -3em 0em 0em 0em;
        color: #ffffff;
        font-weight: bold;
        font-size: 2.6em;
    }
    .container.document {
        width: 100%;
    }
    .jumbotron.topbar .container-fluid {
        width: 100%;
    }

    .topbar li {
        float: right;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px){
    
    .jumbotron.head h1 {
        margin: -2em 0em 0em 0em;
        color: #ffffff;
        font-weight: bold;
        font-size: 2em;
    }
}

