
@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
    format("truetype");
}

@font-face {
    font-family: UbuntuMono;
    src: url(/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
    format("truetype");
}

html {
    
}

body {
    background-color: #FF89D4;
    background-image: url(/images/bg-tissue.png);
    background-position: 0px 0px;
    font-size: 16px;
    font-family: Ubuntu, Arial, sans-serif;
}

.jumbotron.head {
    background-color: #B0518D;
    -webkit-box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);
    -moz-box-shadow: -4px 3px 8px -4px rgba(0,0,0,090);
    box-shadow: -4px 3px 8px -4px rgba(0,0,0,0.90);
}

.jumbotron.head .container {
    background-color: #B0518D;
}

.container {
    background-color: #ffffff;
    margin-top: -2em;
    width: 50%;
}

pre {
    border-radius: 0px;
}

img.img-full {
    width: 100%;
    border: 1em solid #ffffff;
    padding: 0em;
    margin: 0em;
}

.heading-0 {
    background-color: #B0518D;
    margin: -1.4em 0em 1.4em 0em;
    text-align: center;
    font-size: 3em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}


.heading-1 {
    background-color: #B0518D;
    margin: 1.4em 0em 1.4em 0em;
    text-align: center;
    font-size: 3em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}

.heading-1-1 {
    background-color: #B0518D;
    margin: 1.4em 0em -1.4em 0em;
    text-align: center;
    font-size: 3em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}

.heading-2 {
    background-color: #B0518D;
    margin: 1.4em 0em 1.4em 0em;
    text-align: center;
    font-size: 2.5em;
    padding: 1.4em 1.4em 1.4em 1em;
    font-weight: bold;
    color: #ffffff;
}

p {
    padding: 0.4em 1.4em 0em 1.4em;
    font-size: 1em;
}
